<!DOCTYPE html>
<html lang="en">

<body>
    <%- title %>
        <ul>
            <% messages.forEach(function(message) { %>
                <li>
                    <strong>
                        <%= message.author %>
                    </strong>:&nbsp;<%= message.message %> <!-- Non-breaking space -->
                        <a href="/messages/<%= message.id %>">Open</a>
                </li>
                <% }); %>
        </ul>
        <a href="/new">Submit a new message</a>
        <!-- <%- include('form')%> -->
</body>

</html>